<h2>Houses</h2>
<%= link_to 'Create new house', new_house_path %>

<ul>
  <% @houses.each do |house| %>
  <li>
    <a><%= link_to 'Show', house_path(house) %>
    </a>
    <a><%= link_to 'Edit', edit_house_path(house) %></a>
    <a><%= link_to 'Delete', house_path(house), method: :delete, data: { confirm: 'Are you sure, you want to delete this house?'} %>
  </li>
  <% end %>
</ul>
