<p>
  <h3>Character:</h3>
  <%= character.name %>
</p>

<p>
  <%= character.img_url %>
</p>

<p>
  <%= link_to 'Delete Character', [character.house, character],
               method: :delete,
               data: { confirm: 'Are you sure, you want to delete this character?' } %>
</p>
